html.wf-loading {
    visibility: hidden;
}
html.wf-active {
    visibility: visible;
}
/***************************
 GENERAL STYLES
***************************/
html {
    position: relative;fo
    min-height: 100%;
}
body {
    font-family: "proxima-nova", "Arial", "Helvetica", sans-serif;
    line-height: 1.5em;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Margin bottom by footer height 
    margin-bottom: 130px;*/
}
a:focus {
    outline: none;
}
.btn-primary:active, .btn-primary.active, .btn-primary:focus, .btn-primary:hover, .btn:active, .btn.active, .btn:focus, .btn:hover {
    outline: none;
    border: 0;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0;
    font-size: 14px;
    top: -50px
}    
.dropdown-toggle {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 15px;
    letter-spacing: .04em;
    background: #5CD0E0;
    border-radius: 10px;
}
.dropdown .fa.fa-bars {
    font-size: 15px;
}
.nav > li > a {
}
.nav .open>a.dropdown-toggle, .nav>li>a.dropdown-toggle:hover, .nav>li>a.dropdown-toggle:focus {
    /*	color: #cc007b;
	font-weight: 600;
	text-align: center;
	padding-left: 14px;
	padding-right: 14px;
	background: none*/
    color: #fff;
    background: #5CD0E0;
}
.nav .open>a.dropdown-toggle {
    border-radius: 10px 10px 0 0;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
/*	background-color: transparent;
	border-width: 1px 1px 0;
	border-color: #747474;
	border-style: solid */
}
.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: #5CD0E0;/*	border-width: 0 1px 1px;
	border-color: #747474;
	border-style: solid;*/
}
.dropdown-menu > li.list-group-item.header {
    color: #fff;
    padding-left: 15px;
}
.dropdown-menu > li > a {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    white-space: normal;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #57ad46;
    font-weight: 400
}
.notediv {
}
strong {
    font-weight: 600
}
.tilecontent {
    margin-top: 10px
}

.tilecontent .issue-tag {display: block;
    line-height: 1.0em;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: .75em;
    color: #5CD0E0;
    font-weight: 600;}
    
.tilecontent h1 {
    color: #863275;
    font-size: 52px;
    font-weight: 300;
    line-height: 54px;
    margin: 0 0 10px
}
.tilecontent h2 {
    color: #5cd0e0;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
    font-weight: 600
}
.tilecontent h2.cap-intro {
	text-transform: uppercase;
font-size: 26px;
font-weight: 300;
line-height: 28px;
margin-bottom: 10px;
text-align: left;
}
.tilecontent p {
    line-height: 22px
}
.tilecontent .introtext {
    font-size: 26px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 15px;
}
.tilecontent a, .panel-body a {
    color: #cd007b;
    font-weight: 600;
    text-decoration: underline
}
.tilecontent a:hover, .panel-body a:hover {
    text-decoration: none
}
.tilecontent h2 + ul {
    padding-top: 0
}
.tilecontent ul {
    padding-left: 20px;
    margin-top: 15px
}
.tilecontent ul li {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 18px
}
.tilecontent ul li span {
}
.notebox {
    border-top: 1px #c9cacb solid;
    border-bottom: 1px #c9cacb solid;
    overflow: hidden;
    margin: 16px 0;
    padding: 25px 0
}
.notebox + .notebox {
    border-top: 0;
    margin-top: -12px
}
.notebox.notopbrdr {border-top:0;}
h2.topbrdr {display:block; border-top: 1px #c9cacb solid; padding-top:25px; }
.notebox .tileimg {
    padding: 0 20px;
}
.notebox h2, .notebox h3 {
    color: #5cd0e0;
    text-transform: uppercase;
    margin-top: 0
}
.notebox h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0
}
.notebox h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}
.notebox p {
    font-size: 16px;
    line-height: 19px;
    padding: 0 10px 0 0
}
.notebox p.introtext {
    font-weight: 300;
    padding: 0 5px;
    font-size: 26px;
    line-height: 28px
}
.notebox p.introtext em {
    color: #863275;
    font-weight: 600
}
.notebox a {
    color: #cd007b;
    text-decoration: underline;
    font-weight: 600
}
.notebox a:hover {
    text-decoration: none
}
.notebox ul {
    padding: 0 0 0 20px;
    font-size: 14px
}
.notebox p.quotetext {
    font-size: 27px;
    line-height: 39px;
    color: #f18903;
    padding: 0 40px;
    margin: 0
}
.notebox p.quoteauthor {
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 7px
}
.notebox .media-body p.last {
    margin-bottom: 0
}
.home .headerleft {
    margin: 15px 0;
}
.headerleft {
    margin: 15px 0;
}
.headerleft img {
    margin: 0 0 15px 0;
    display: block
}
.headerright {
    margin: 15px 0;
}
.headerright img {
    margin-top: 10px
}
.headerleft a {
    text-decoration: none;
    color: #5cd0e0;
    font-weight: 300;
    font-size: 122px;
    letter-spacing: .11em;
    line-height: 100px;
    text-transform: uppercase;
    padding: 0;
    margin: 0
}
.headerleft a:hover {
    text-decoration: none
}
.tileimg {
}
.caps {
    text-transform: uppercase;
    color: #863176
}
.tilecontent .footnote {
    font-size: 12px;
    line-height: 15px;
}
.tilecontent p.footnote + p {
    margin-top: -10px
}
.tilecontent ul.nav-tabs {
    border: 0;
    margin: 0;
    padding: 0
}
.tilecontent ul.nav-tabs li {
    width: 100%
}
.nav-tabs > li > a {
    display: table!important;
    width: 100%
}
.nav-tabs > li > a span {
    display: table-cell;
    vertical-align: middle
}
.nav-tabs > li > a span > div {font-size: 16px;}
.nav-tabs > li > a img {
    margin: 0 10px 0 0;
    max-width: 100%;
    height: 51px;
    width: 51px
}
.nav-tabs > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 15px!important;
    border-radius: 0
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active, .nav-tabs > li.active a {
    border: 0;
    outline: none
}
.nav-tabs > li > a.green, .nav-tabs > li.active > a.green, .nav-tabs > li.active.inactive > a.green {
    background: #6EBF4C
}
.nav-tabs > li > a.blue, .nav-tabs > li.active > a.blue, .nav-tabs > li.active.inactive > a.blue {
    background: #16A6B6
}
.nav-tabs > li > a.orange, .nav-tabs > li.active > a.orange, .nav-tabs > li.active.inactive > a.orange {
    background: #f18903
}
.nav-tabs > li.active > a.green, .nav-tabs > li.active > a.blue, .nav-tabs > li.active > a.orange {
    color: #fff
}
.nav-tabs > li.inactive > a.green, .nav-tabs > li.inactive > a.blue, .nav-tabs > li.inactive > a.orange {
    background: #C7C8CA
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border: 0
}
.tab-pane.green h3 {
    color: #6EBF4C
}
.tab-pane.blue h3 {
    color: #16A6B6
}
.tab-pane.orange h3 {
    color: #f18903
}
.slides .col-xs-12 {
    position: relative
}
.slides .col-xs-12 div {
    position: absolute;
    top: 0;
    background: #ccc
}
.slides .col-xs-12 div span {
    display: block;
    background: #eee;
    width: 100%
}
.bx-wrapper .bx-viewport {
    border: 0;
    box-shadow: none;
    left: 0
}
.slide {
    position: relative;
    max-width: 389px
}
.item-content {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: #fff;
    padding: 80px 30px 0
}
.item-content.hover {
    display: block;
    cursor: pointer;
}
.item-content h4 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 300;
    margin-bottom: .2em
}
.item-content p {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 300
}
.item-content a {
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600
}
.item-content a:hover {
    text-decoration: underline
}
.item-content a:focus {
    outline: none
}
.item-bar {
    background: #051f4c;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 20px;
    margin-top: -70px;
    margin-left: -30px;
    margin-right: -30px
}
.pull-up {
    margin-top: -65px;
}
.bx-wrapper .bx-prev {
    left: 0;
    background: none
}
.bx-wrapper .bx-next {
    right: 0;
    background: none
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 40%;
    margin-top: -16px;
    outline: 0;
    width: auto;
    height: auto;
    text-indent: 0;
    z-index: 9999
}
.bx-wrapper .bx-controls-direction a {
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 8px 10px;
    background: none repeat scroll 0 0 #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 0;
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=75)
}
.bx-wrapper .bx-controls-direction a:hover {
    background: none repeat scroll 0 0 #999;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
 -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
}
.acc-mar-top
{
	margin-top: 18px;
}
.acc-mar-btm
{
	margin-bottom: 37px;
}
.acc-style-num
{
	padding-left: 5px;
    text-align: left;
}
.acc-style-num2
{
	padding-left:36px !important;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html, body {
    /*overflow-x: hidden Prevent scroll on narrow devices */
}
.row-offcanvas {
}
.row-offcanvas p {
    margin: 0;
    padding: 5px 0
}
.btn-primary {
    background: #63D0DF;
    border: 0
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #63D0DF
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none
}
.sidebar-offcanvas {
    padding-right: 0;
    background: #63D0DF
}
.list-group {
    margin-bottom: 0;
    padding-left: 0;
}
.list-group ul {
    padding-left: 0
}
.list-group-item {
    border: 0;
    background-color: #63D0DF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
}
.list-group-item+.nav-header {margin-top:12px;}
.nav-header {font-weight: 600; padding-left: 15px; color: #fff;}
.sidebar-offcanvas li li.nav-header,
.sidebar-offcanvas li li.nav-header:hover {background:none; font-weight: 600; padding-left: 15px; color: #fff;}
.list-group-item a {
    color: #fff
}
/* Footer */
footer {
    background: #5CD0E0 url(../img/footer-colorbar.png) bottom center no-repeat;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
   
    height: auto;
}
footer .container {
    padding: 15px 20px 15px 90px;
    background: url(../img/footer-bubble.png) 15px 18px no-repeat;
}
footer .container div {
    display: table-cell;
    vertical-align: top;
}
footer h5 {
    font-size: 22px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
footer p {
    font-size: 14px;
    line-height: 16px;
}
footer .fa {
    margin-top: -10px;
    font-size: 405%;
}
footer a {
    color: #fff;
    font-weight: 600;
}
footer a:hover {
    color: #fff;
}
.img-col {
    padding-left: 0;
    padding-right: 0;
}
.acc-op:hover .accordion-style,
.appstore-icons img:hover
{
	opacity:0.8;
}
/***************************
 MEDIA QUERIES - GENERAL 
***************************/
/* SMALL DEVICES (tablets, 768px and up) */
@media (min-width: 768px) {
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}
	
.tilecontent .issue-tag {
    margin-top: 0px;
	margin-bottom: 10px;
}	
.img-col {
    padding-left: 15px;
    padding-right: 15px;
}
.headerleft img {
    margin: 0 0 0 10px;
    display: block
}
.headerleft a {
    font-size: 122px;
    letter-spacing: .11em;
    line-height: 100px
}
.navbar + .container {
    position: relative;
    top: -50px
}
.navbar-collapse {
    padding-right: 0
}
.slide {
    max-width: auto
}
.dropdown-toggle {
    min-width: 152px
}
.dropdown-menu {
    min-width: 330px
}
.navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
}
.col-sm-6-pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.notebox p.introtext {
    font-size: 26px;
    line-height: 28px;
    padding: 0 30px
}
.colorbar {
    margin-top: 0
}
.item-content h4 {
    font-size: 72px;
    line-height: 64px
}
.item-content p {
    font-size: 36px;
    line-height: 1.2em
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 110px;
}

footer .container {
    padding: 15px 0px 15px 100px;
    background-position: 25px 18px;
}
footer h5 {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
footer p {
    font-size: 16px;
    line-height: 18px;
}
}

/* MEDIUM DEVICES (desktops, 992px and up) */
@media (min-width: 992px) {
.navbar {
    top: -60px
}
.tilecontent {
    margin-top: 0
}
.tilecontent ul.nav-tabs li {
    width: 33%
}
.tilecontent ul.nav-tabs li {
    text-align: center
}
.nav-tabs > li > a {
    display: block!important;
    width: auto
}
.nav-tabs > li > a img {
    display: block;
    margin: 0 auto 25px;
    max-width: 100%;
    width: 117px;
    height: 117px
}
.nav-tabs > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    padding: 25px 15px!important;
    border-radius: 0
}
footer {
    height: 92px;
}
}

/* LARGE DEVICES (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.navbar {
    top: -60px
}
}

/****************************************************
 MEDIA QUERIES - NAV ONLY DO NOT ADD TO THIS SECTION
*****************************************************/
@media screen and (max-width: 767px) {
body {
    padding-top: 0
}
.container-off-canvas {
    background: #63D0DF;
}
.container-off-canvas button {
    float: right;
    padding: 8px 5px; 
    margin-right: -5px;
}
.row-offcanvas .btn-xs, .row-offcanvas .btn-group-xs > .btn {
}
.row-offcanvas .btn-xs span {
    margin-left: 8px;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    top: -2px;
}
.row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    z-index: -1
}
.row-offcanvas.active {z-index: 999;}
.row-offcanvas-left {
    right: 0;
    top: 41px;
}
.row-offcanvas-left .sidebar-offcanvas {
    right: -50%/* 6 columns */
}
.row-offcanvas-left.active {
    right: 50%/* 6 columns */
}
.sidebar-offcanvas {
    padding-left: 0;
    position: absolute;
    top: 0;
    width: 50%/* 6 columns */
}
.sidebar-offcanvas .list-group-item {
    padding: 2px 0
}
.sidebar-offcanvas .list-group-item a {
    padding: 3px 0px;
    display: block;
}
.sidebar-offcanvas .list-group-item li.list-group-item a {
    padding: 4px 30px 4px 15px;
    line-height: 1.3em;
}
.sidebar-offcanvas li {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .05em;
    margin-left: 15px;
    color: #fff;
}
.sidebar-offcanvas li li {
    font-size: 16px;
    text-transform: none;
    font-weight: 300;
    margin-left: -15px;
}
.sidebar-offcanvas li li:hover {
    background-color: #57ae47
}
.sidebar-offcanvas li li:hover a {
    font-weight: 300;
}
.sidebar-offcanvas .list-group-item:first-child {
    margin-top: 4px;
    border-radius: 0
}
.sidebar-offcanvas li .list-group-item:first-child {
    margin-top: 0
}
.sidebar-offcanvas li a {
    padding: 3px 10px
}
.sidebar-offcanvas li a:hover {
    text-decoration: none
}
}

@media screen and (max-width: 480px) {
.row-offcanvas-left .sidebar-offcanvas {
    right: -60%/* 6 columns */
}
.row-offcanvas-left.active {
    right: 60%/* 6 columns */
}
.sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%/* 6 columns */
}
}

/******************************
 END MEDIA QUERIES - NAV ONLY 
*******************************/

/* xxxxxxx By Shalu xxxxxxxx */
@media screen and (max-width: 360px) {
.app-ul-style {
    font-size: 12px !important;
    line-height: 13px !important;
    margin-top: 0px !important;
    padding-left: 0 !important;
}
.app-highlight {
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-left: -12px !important;
    margin-top: -5px !important;
}
.app-text {
    color: #5cd0e0 !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    line-height: 16px !important;
    margin-left: -11px !important;
}
.text-p {
    font-size: 12px !important;
    line-height: 13px !important;
    margin-left: -11px !important;
}
.text-font {
    font-size: 11px !important;
    line-height: 11px !important;
    margin-bottom: 10px !important;
    margin-left: -13px !important;
    margin-top: 5px !important;
}
footer { overflow: hidden; }
}
 @media screen (min-width: 361px) and (max-width: 980px) {
.playstore-icon {
 margin-left: 105px !important;
}
}
.text-callout {
    color: #5cd0e0;
    line-height: 20px;
    margin: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
}
/***************************
 APP Page
***************************/

.app-box {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #863275;
    background: none;
}
.app-box p {
    margin-left: 105px;
    font-size: 1.2em;
}
.app-box img.logo {
    max-width: 90px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.app-store-box {
    background: #863275;
    padding: 10px 10px 0 19px;
    margin: 0 -19px -19px -19px;
}
.app-box img.app-store-badge {
    display: inline-block;
    padding: 0 0 10px 0;
}
.appstore-icons a {
    display: inline-block;
    margin-right: 5px;
}
.app-box.hover-box.hover {
/*border-color: #D1CCCC;*/
}
.hover-box.hover .app-store-box {
/*background: #D1CCCC*/
}
.hover-box.hover a:hover img.app-store-badge, .hover-box.hover a:active img.app-store-badge, .hover-box.hover a:focus img.app-store-badge {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.hover-box.info img {
    border: 1px solid #fff;
}
.hover-box.info.hover img {
    border: 1px solid #D1CCCC;
}
.app-heading {
    text-align: center;
    border: 1px solid #863275;
    padding: 7px;
    background-color: #863275;
    color: #FFFFFF;
}
.app-mar {
    margin: 0px !important;
    font-size: 1em !important;
}
.app-pad {
    padding-left: 16px;
}
.accordion-style {
    background-color: #64cadb !important;
}
.accordion-text {
    color: #FFFFFF !important;
    padding-left: 8px;
}
.panel-heading.accordion-text {
    padding: 0 0 0 8px;
}
.panel-title>.fa {
    padding-top: 11px;
    padding-bottom: 11px;
}
.accordion-text h4 {
    font-weight: 300;
}
.accordion-text h4 a {
    padding: 15px 15px 15px 0;
}
.accordion-text h4 a:hover {
    text-decoration: none;
}
.panel, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
    outline-style: none !important;
    box-shadow: none;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    line-height: 22px;
    padding: 15px 20px 15px 10px;
}
.app-accord {
    padding-left: 19px;
    display: table-cell;
    vertical-align: top;
}
.app-accord1 {
    padding-left: 60px;
    vertical-align: middle;
    display: table-cell;
}
.app-accord2 {
    display: table-cell;
    vertical-align: top;
}
.app-text {
    color: #5cd0e0;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin: 0px 0;
}
.app-text-pad {
    font-size: 14px;
    line-height: 18px;
    padding-left: 15px;
}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-title > a {
    display: block;
    font-size: 20px;
    line-height: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
}
.panel-title > a:hover, .panel-title > a:focus {
    text-decoration: none;
}
.panel-group .panel + .panel {
    margin-top: 1px;
}
.app-ul-style {
    font-size: 14px;
    line-height: 17px;
    padding-left: 17px;
}
.app-highlight {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.app-accordion-border {
    border-bottom: 1px #c9cacb solid;
    overflow: hidden;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 15px;
}
.playstore-icon {
    margin-top: 26px;
    margin-left: 0;
}
.text-font {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 4px;
    margin-top: 5px;
}
.text-p {
    font-size: 14px;
    line-height: 17px;
}
.text-p a {
    color: #cd007b;
    text-decoration: underline;
    font-weight: 600
}
.text-p a:hover {
    text-decoration: none;
    color: #cd007b;
}
.fa-size-match {
    font-size: 28px;
    margin-right: .4em;
}
.panel-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebarFont li{
	font-size:16px;
}

div.accordion-text:hover{
	background-color:#57AD46;
}
.line-h td
{
	line-height:1.2em !important;
}
.line-h th
{
	line-height:1.2em !important;
}
.color-blue
{
	color: #093c71 ;
}
.home-btn{
    padding: 15px 0;
    display: inline-block;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.home-btn i{    
    color: #5CD0E0;
}

.home-btn:hover{
    color: #5CD0E0;
}
.tablehead th{
    background-color: #eee!important;
    text-align: left!important;
}
.key-term{
  color: #f18903;  
}
.circleBullet{
    display: inline-block;
width: 36px;
height: 36px;
border-radius: 50%;
line-height: 36px;
text-align: center;
background: #F18903;
color: white;
font-weight: 500;
margin-right: 10px;
    float: left;
}
.Bullet p{ margin-left: 50px}
@media (max-width:767px){
	
	.home-btn{
    padding: 15px 0;
    display: inline-block;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.home-btn i{    
    color: #cd007b;
}

.home-btn:hover{
    color: #cd007b;
}
	
	
	}